:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
}
button:hover {
  background: #cdcdcd;
}
button:focus,
button:focus-visible {
  outline: none;
}

button:active {
  transform: scale(0.9);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  height: 500px;
  width: 450px;
  border-radius: 10px;
  color: #fff;
}

.clock.day {
  background: url('https://images.pexels.com/photos/1529040/pexels-photo-1529040.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')
    no-repeat center center/cover;
}

.clock.night {
  background: url('https://images.pexels.com/photos/39378/sunset-channel-water-evening-39378.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')
    no-repeat center center/cover;
}

.clock.night h2 {
  color: #fff;
}

.clock h2 {
  text-align: center;
  font-size: 4rem;
  color: #333;
  margin-bottom: 7rem;
}

.clock .time {
  text-align: center;
  background: #fff;
  color: #333;
  padding: 1rem 4rem;
  border-radius: 10px;
}
